@charset "utf-8";

.navbar{
    width: 85%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 80px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

body{
    background-color:#f6f5f5;
    margin: 0px;
    padding: 0px;
}

section{
    width: 100%;
    height: 95vh;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.text-container p:nth-child(1){
    font-family: calibri;
    font-weight: bold;
    color: #6d6d6d;
    font-size: 22px;
}

.text-container p:nth-child(2){
    font-family: calibri;
    font-weight: bold;
    letter-spacing: 1px;
    color: #000000;
    font-size: 60px;
}

.text-container p:nth-child(3){
    font-family: myriad pro regular;
    color: #403e3e;
    font-size: 25px;
    line-height: 30px;
}

.text-container p{
    line-height: 0px;
    margin: 45px 0px 25px;
}

.text-container{
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%, -42%);
}

.model{
    height: 430px;
    position: absolute;
    bottom: 80px;
    left: 65%;
    transform: translate(-70%);
}

.about-container{
    width: 80%;
    height: 330px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    margin: -6% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}

.about-container img{
    height: 250px;
}

.about-text{
    width: 660px;
    height: 200px;
}

.about-text p:nth-child(1){
    color: #403e3e;
    font-family: myriad pro;
    font-weight: bold;
    font-size: 23px;
    line-height: 5px;
}

.info{
    width: 85%;
    margin: auto;
    color:#726f6f;
    font-family: calibri;
    font-size: 18px;
    width: 680px;
}

.info ul li{
    margin: 0 10px;
    position: relative;
}


